azcopy_linux_amd64_10.17.0.tar.gz
.ipynb_checkpoints
__pycache__
.vscode/settings.json
*.pth
*.pt
*.log
*.yaml
*wandb/
notebooks/might_be_to_big.csv
notebooks/project.csv
notebooks/results.csv
*stats.txt
VICReg_RadImageNet/stats_clean.txt
